@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');



body {
    background-color: #38a3a5;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    margin: auto;
    padding: 0;
    text-align: center;
    max-width: 1600px;
}

:root {
    --primary-color: #38a3a5;
    --heading-font: "Raleway", sans-serif;
    --paragraph-font: "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    padding: 15px;
    background-color: #d4ac0d;
    color: black;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;

}

nav ul {
    padding: 15px;
    background-color: #396e94;
    color: #38a3a5;
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #38a3a5;
}

nav ul li {
    padding: 5px;
    list-style: none;
}

nav ul li a:hover {
    padding: 2px;
    border-radius: 3px;
    background-color: #396e94;
    transition: 0.5s;
    color: white;
}

main h2, h3 {
    color: #38a3a5;
    font-family: "Raleway", sans-serif;
}

main {
    margin: 40px auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    padding: 20px;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    border: 1px black solid;
    min-width: 15em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.card h3 {
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    background-color: #38a3a5;
    font-family: "Raleway", sans-serif;
    border-radius: 10px 10px 0 0;
    color: black;
}

.card ul li a {
    color: blue;
    border-radius: 3px;
    display: none;
}

.card a:hover {
    padding: 2px;
    border-radius: 3px;
    background-color: #396e94;
    transition: color 0.3s;
    color: white;
}

#Weather p {
    color: blue;
    padding: 15px 0 15px 0;
}

#weather {
    margin-bottom: 20px;
}

footer {
    background-color: #D4AC0D;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    padding: 15px 0 15px 0;
}

nav .card ul {
    list-style: none;
    padding: 15px;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 0;
	right: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}


.active {
	background-color: darkgrey;
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}

.iframe-container {
	margin: 0 auto;
	margin-bottom: 30px;
	padding: var(--gap);
	max-width: var(--max-width);
}

iframe {
	width: 100% !important;
	border-radius: var(--radius);
}