@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gabarito&family=Quicksand&family=Raleway&display=swap');

/* Reset some default styles for browsers */
body, h1, h2, p, ul, li{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #00507A;
    --secondary-color: #C8BFBC;
    --accent1-color: #11202C;
    --accent2-color: #FCA311;
    --light-text: #FFFFFF;
    --dark-text: #11202C;
    --mode-color: #ffffff;
    --header-font: "Bitter", Tahoma, serif;
    --text-font: "Open Sans", sans-serif;
    --light-button: #e5dedb;
}

body{
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h1 {
    font-size: 36px;
}

.card p, h2 {
    text-align: center;

}

#banner-image img {
    object-fit: scale-down;
    height: 250px;
    width: 250px;
    margin: -1rem;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    float: left;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    padding: 2px;
    border-radius: 3px;
    background-color: #396e94;
    transition: 0.5s;
    color: white;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    clear: both;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}


.weather-card {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.weather-icon {
    width: 100px;
    height: 5px;
}

/* Dark mode toggle switch styles */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it's on top of other content */
}

.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

.dark-mode-toggle label {
    width: 40px;
    height: 20px;
    background: #ccc;
    display: block;
    border-radius: 20px;
    position: relative;
}

.dark-mode-toggle label::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label {
    background: #000;
}

.dark-mode-toggle input[type="checkbox"]:checked + label::after {
    left: 20px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

/* Modify styles for specific elements in dark mode */
.dark-mode h1 {
    color: #fff;
}

/* Weather card styles */
.weather-container {
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
}

.weather-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.weather-icon img {
    max-width: 50px;
    height: auto;
}

.weather-description {
    font-size: 1.2rem;
    font-weight: bold;
}

.temperature {
    font-size: 1.5rem;
}

/* Nav for mobile viewing */

nav {
    font-family: var(--text-font);
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 1rem;
    position: absolute;
    top: 9rem;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: white;
}

#menu::before {
    content: "☰";
  }
  
#menu.open::before {
    content: "❌"
  }

#navButton {
    display: block;
    font-size: 2rem;
    padding: .5rem .75rem;
    background-color: var(--primary-color);
    color: var(--light-text);
}

#navButton::before {
    content: "≣";
}

.nav-menu{
    margin: 0 auto;
    max-width: 760px;
    display: flex;
    flex-direction: column;
}

.nav-menu li{
    display: none;
    background-color: #004f7a8d;
    max-width: 50%;
}

.nav-menu a{
    display: block;
}

.open li{
    display:block;
}

#navButton.open::before{
    content: "❌"
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  
.left-bar {
    float: left; /* Float the sidebar to the left */
    width: 50%; /* Adjust the width as per your design */
    margin-right: 20px; /* Add a gap between the sidebar and the main content */
    background-color: #f2f2f2; /* Background color for the sidebar */
    padding: 10px; /* Add padding to the sidebar content for spacing */
    border: 1px solid #ccc; /* Add a border for visual separation */
  }
  
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
@media (max-width: 768px) {
    .container {
    grid-template-columns: 1fr;
    }
  }

.grid {
    float: left;
    width: 100%;
}

.photoContainer {
    float: right; /* Float the photoContainer to the right */
    width: 30%; /* Adjust the width as per your design */
    margin-left: 10px; /* Add a gap between the sidebar and photoContainer */
}

.photoContainer h3{
    background-color: var(--secondary-color);
    padding: 1rem;
}

.grid h3, h4 {
    font-family: var(--header-font);
    color: var(--dark-text);
}

.grid p, span {
    font-family: var(--text-font);
    color: var(--dark-text);
}

.sidePhoto {
    position: relative;
    padding: 2rem;
}


.picture-label {
    position: absolute;
    left: 20px;
    top: 10px;
    background-color: var(--secondary-color);
    color: var(--dark-text);
    padding: .8rem;
}

/* Style for the last-visit-message */
#last-visit-message {
    margin-bottom: 20px; /* Add a margin at the bottom to create space */
    padding-bottom: 2rem;
}

/* Style for the demographics section */
#demographics {
    margin-bottom: 20px; /* Add a margin at the bottom to create space */
    padding-bottom: 2rem;
}

/* Style for the statistics section */
#statistics {
    margin-bottom: 20px; /* Add a margin at the bottom to create space */
    padding-bottom: 2rem;
}

/* Style for the Events section */
#Events {
    margin-bottom: 20px; /* Add a margin at the bottom to create space */
    padding-bottom: 2rem;
}

* {
	box-sizing: border-box;
}

.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

/*----------- FORM --------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;    
    font-family: var(--header-font)
}
form legend {
    color: #445ba9;
    margin: 0 3rem;
    padding: 1rem;
    font-size: 1.5rem;
}

form label {
    display: block;
    padding-top: 1rem;
    color: #1d4d72;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75 rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1 rem;
    padding: .75 rem 1.5 rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form label.above {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
    padding: .75rem 0;
    color: red;
    
}

form label.above label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: red;
    padding: .75rem 0;
}

form label.above input {
    width: 100%;
    display: block;
    padding: 0.75rem;
    max-width: 20rem;
    background-color: #1d4d721d;
    border: solid .5px var(--primary-color);
    border-radius: 5px;
    font-family: var(--text-font);
    font-size: 1rem;
    
}

form .submitBtn {
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 90%;
    max-width: 20rem;
    margin: 0 0 2rem 2%;
    font-size: 1.5rem;
}

#error {
    margin-top: 0;
    color: red;
}

form label.top #pageRating {
    width: 100%;
}

#rangevalue {
    color: var(--primary-color)
}

#rangevalues {
    display: flex;
    margin: 0 0 0 0;
    justify-content: space-evenly;
    width: 355px;
}

/*--------------*/
/*---JoinPage---*/
/*--------------*/

#main-join{
        display: flex;
    }
    .form-box{
      flex-direction: row;
    }
    .form-box label{
        flex-basis: 7rem;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .form-box button{
        margin-left: 7rem;
    }
    .form-box input, 
    .form-box select, 
    .form-box textarea{
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    } 
    form{
        width: 100%;
    }  
    #div-join{
        grid-column: 1/4;
        z-index: 0;
    }

main div, .column-1{
        background-color: var(--light-blue);
        border: 2px solid var(--orange);
        min-height: 200px;
        color: var(--grey);
        padding: 1em;
        margin-right: 1em;
        text-align: center;
        font-family: Raleway;
        font-size: 20px;
        z-index: -1;
    }

/*---------------------*/
/*---Directory Page---*/
/*--------------------*/

.directoryMain h2{
    font-family: var(--header-font);
    color: var(--dark-text);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1px;
}


/* Button Section */

.optionButtons {
    padding: 2rem;
    text-align: center;
}

.optionButtons button {
    margin: 1rem;
    font-family: var(--text-font);
    font-weight: 500;
    padding: 1rem 1.5rem;
    background-color: var(--light-button);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px #9d9492;
}

    /* -----  List vs. Grid Display ----- */

.busGrid {
    display: flex;
	flex-wrap: wrap;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
}

.busList {
    display: flex;
    flex-direction: column;
}

.business-week {
    position: relative;
}
.business-week img{
    width: 100%;
    object-fit: scale-down;
}

.business-label {
    position: absolute;
    top: 2em;
    left: 20px;
    padding: 0px 2em;
    background-color: #c8bfbcc8;
    font-family: var(--text-font);
    color: var(--light-text);
    box-shadow: 10px 5px 5px #9d9492;
    margin: 1em 2em;
}

.business-label h6{
    font-size: 90%;
    margin: auto;
    padding: .5em;
}

#business-info{
    background-color: #C8BFBC;
    font-family: var(--header-font);
    color: var(--dark-text);
    font-weight: 300;
}

    /* ----- Grid Display ----- */
    


.busGrid section{
    text-align: center;
    background-color: var(--light-button);
    border: none;
    border-radius: 10px;
    margin: 1rem;
    padding: 2rem;
}

.busGrid img{
    border: 2px solid none;
    border-radius: 10px;
    box-shadow: 0 0 10px #3333339b;
    width: auto;
    max-width: 300px;
    height: auto;
}

.busGrid h3{
    font-family: Arial, sans-serif;
    color: var(--dark-text);
}
 
.busGrid h5, h6{
    font-family: Arial, sans-serif;
    font-weight: 400;
    padding: 0;
    color: var(--dark-text);
}

.busGrid section > * {
    margin: 1rem;
}


    /* ----- List Display ----- */

.busList section{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0.5rem;
}

.busList section > * {
    margin: 0 1rem;
}

.busList section img{
    display: none;
}

.busList section h3{
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 1rem;
}

.busList h5, h6 {
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 400;
}

