@media only screen and (min-width: 30em){


    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .nav-menu li{
        display: block;
        flex: 1 1 100%;
    }

    .nav-menu a{
        text-align: center;
    }

    #navButton {
        display: none;
    }

    .flex-1 {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .flex-2{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .business-label{
    top: 2.5em;
}
.business-label h6{
    font-size: 110%;
    margin: auto;
    padding: 1em;
}
    
}